# Pandas Series Structure

In [2]:
import pandas as pd

In [3]:
students = ['Alice', 'Jack', 'Holly']

pd.Series(students)

0    Alice
1     Jack
2    Holly
dtype: object

In [4]:
numbers = [1,2,3]

pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
students_lempty = ['Alice', 'Jack', None]

pd.Series(students_lempty)

0    Alice
1     Jack
2     None
dtype: object

In [6]:
numbers_lempty = [1,2,None]

pd.Series(numbers_lempty)

0    1.0
1    2.0
2    NaN
dtype: float64

In [8]:
import numpy as np 
np.nan == None

False

In [9]:
np.nan == np.nan

False

In [10]:
np.isnan(np.nan)

True

In [11]:
students_scores = {'Alice': 'Physics',
                    'Jack': 'Chemistry',
                    'Molly': 'English'}

s = pd.Series(students_scores)
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [12]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [13]:
students = [('Alice','Brown'), ('Jack','Brown'),('Molly','Green')]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, Brown)
2    (Molly, Green)
dtype: object

In [ ]:
#